.logoTitle {
    font-family: 'Noto Serif Georgian Variable', sans-serif;
    font-size: 1.8rem;
    color: #000000;
    margin-top: 10px;
}


.imageWidth
 {
    width: 250px;
}

@media only screen and (max-width: 1011px) {
    .imageWidth
     {
        width: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .imageWidth
     {
        width: 200px;
    }
}

@media only screen and (max-width: 543px) {
    .imageWidth
     {
        width: 200px;
    }
}