.centeredSlideContent {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100%;            /* Take full height of the slide */
  }
  